@import "https://fonts.googleapis.com/css2?family=Nova+Flat&family=Poppins:wght@300;400&display=swap";

// Color variables
$clr-mine-shaft: #222;
$clr-white: #fff;
$clr-charade: #2a2a35;
$clr-tapestry: #B768A2;
$clr-flesh: #FFCBA3;
$clr-regent-st-blue: #ADD8E6;
$clr-gray-suit: #bcbcca;
$clr-oyster-pink: #ECCCCD;
$clr-ebb: #ECE4E4;
$clr-polar: #ECFBFB;
$clr-dew: #ECFFFF;
$clr-twilight-blue: #F0FFFF;

// Fonts
$font-nova: 'Nova Flat', sans-serif;
$font-poppins: 'Poppins', sans-serif;
